.UI {
    pointer-events: all;
    z-index: 10000;
}

.top-left-container {
    position: absolute;
    top: calc(2.3vh + 0.5rem);
    left: calc(2.3vh + 0.5rem);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    width: 3ch;
    pointer-events: none;
    height: calc(1.2* (2*(25px + 2vw) + 2*(7.5px + 0.75vw)));
}

.out.top-left-container {
    animation-name: outTop;
}

.in.top-left-container {
    animation-name: inTop;
}

@keyframes outTop {
    0% {
        transform: translateY(0ch);
    }

    50% {
        transform: translateY(2ch);
    }

    100% {
        transform: translateY(-150%);
        visibility: hidden;
    }
}

@keyframes inTop {
    0% {
        transform: translateY(-150%);
        visibility: visible;
    }

    50% {
        transform: translateY(2ch);
    }

    100% {
        transform: translateY(0ch);
    }
}

.middle-left-container {
    position: absolute;
    bottom: calc(20vh + 1rem);
    display: flex;
    flex-direction: column;
    left: 0px;
    z-index: 999;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.out.middle-left-container {
    animation-name: outMiddle;
}

.in.middle-left-container {
    animation-name: inMiddle;
}

@keyframes outMiddle {
    0% {
        transform: translateX(0ch);
    }

    50% {
        transform: translateX(2ch);
    }

    100% {
        transform: translateX(-150%);
        visibility: hidden;
    }
}

@keyframes inMiddle {
    0% {
        transform: translateX(-150%);
        visibility: visible;
    }

    50% {
        transform: translateX(2ch);
    }

    100% {
        transform: translateX(0ch);
    }
}

.rectangle-button-container {
    position: relative;
    height: auto;
    width: auto;
}

.rectangle-buttons-group {
    position: absolute;
    pointer-events: none;
    bottom: 0;
}

.switch-buttons-container {
    width: 10.8ch;
    box-sizing: border-box;
    background-color: #e3e3e3;
    border-top-right-radius: 10ch;
    border-bottom-right-radius: 10ch;
    padding: 0.1ch;
    padding-left: 3.4ch;
    padding-right: 0.1ch;
    margin-top: 1.5ch;
    pointer-events: none;
    font-size: calc(0.75vh + 1em);
    display: flex;
    flex-direction: row;
    transform: translateX(-3ch);
    outline: 2px solid rgba(36, 47, 54, 1);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

.switch-buttons-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to left,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.1) 70%,
            rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    border-radius: inherit;
    mix-blend-mode: soft-light;
}

.bottom-left-container {
    position: absolute;
    bottom: calc(2.3vh + 0.5rem);
    left: calc(2.3vh + 0.5rem);
    display: flex;
    flex-direction: row;
}

.bottom-right-container {
    position: absolute;
    bottom: calc(2.3vh + 0.5rem);
    right: calc(2.3vh + 0.5rem);
}

.rectangle-button {
    font-size: calc(0.75vh + 1em);
    font-weight: 400;
    width: 13ch;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: calc(0.2em);
    padding-left: 4ch;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 7px;
    cursor: pointer;
    border-radius: 10ch;
    transition: transform 0.2s ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: translateX(-3ch);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    outline: 2px solid rgba(36, 47, 54, 1);
}

.rectangle-button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to left,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0.1) 80%,
            rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    border-radius: inherit;
    mix-blend-mode: soft-light;
}

.rectangle-button-out {
    animation-name: buttonOut;
}

.rectangle-button-in {
    animation-name: buttonIn;
}

.no-animation {
    animation: none !important;
}

@keyframes buttonOut {
    0% {
        transform: translateX(-3ch);
    }

    30% {
        transform: translateX(-1ch);
    }

    100% {
        transform: translateX(-150%);
    }
}

@keyframes buttonIn {
    0% {
        transform: translateX(-150%);
    }

    35% {
        transform: translateX(-150%);
    }

    65% {
        transform: translateX(-2ch);
    }

    100% {
        transform: translateX(-3ch);
    }
}

.switch-button {
    background-color: #41444B;
    width: 2ch;
    height: 2ch;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: inherit;
    margin: 0.2ch;
    cursor: pointer;
    border-radius: 5ch;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 0.1s, transform 0.1s;
    outline: 1.5px solid rgba(36, 47, 54, 1);
    position: relative;
    overflow: hidden;
}

.note-button {
    margin-top: 20px;
}

.view-button,
.lock-button {
    background-color: #41444B;
    border: none;
    color: white;
    width: calc(0.3vw + 3em);
    height: calc(0.3vw + 3em);
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s, transform 0.1s;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.2);
    outline: 2px solid rgba(36, 47, 54, 1);
    position: relative;
    overflow: hidden;
}

.view-button::before,
.lock-button::before,
.trashcan::before,
.switch-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    border-radius: 100%;
    pointer-events: none;
}

.view-button:hover,
.lock-button:hover,
.switch-button:hover,
.switch-button.hover,
.view-button.hover,
.lock-button.hover {
    background-color: #5a5d63;
    transform: scale(1.075);
}

.view-button.hidden,
.lock-button.unlocked,
.switch-button.selected {
    background-color: #9a9a9a;
}

.view-button {
    margin-left: calc(0.3vw + 0.5em);
}

.trashcan {
    background-color: #cc1c1c;
    border: none;
    color: white;
    width: calc(0.3vw + 3.5em);
    height: calc(0.3vw + 3.5em);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s, transform 0.1s;
    outline: 2px solid rgba(36, 47, 54, 1);
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.trashcan.deleting {
    background-color: #ff0000;
    transform: scale(1.25);
}

.rectangle-button svg {
    width: calc(0.75vh + 0.7em);
    height: calc(0.75vh + 0.7em);
    margin-left: 0.3ch;
}

.view-button svg,
.lock-button svg {
    width: calc(0.3vw + 1.2em);
    height: calc(0.3vw + 1.2em);
    z-index: 1;
}

.trashcan svg {
    width: calc(0.3vw + 1.5em);
    height: calc(0.3vw + 1.5em);
    z-index: 1;
}

.switch-button svg {
    width: calc(0.75vh + 0.95ch);
    height: calc(0.75vh + 0.95ch);
    z-index: 1;
}

.ui-container {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
}