.date-range {
    display: flex;
    position: absolute;
    top: calc(2vw + 1em + 1ch);
    color: black;
    cursor: pointer;
    z-index: 1000;
    font-size: calc(0.3vw + 0.75em);
    width: 13ch;
    height: calc(2*(7.5px + 0.75vw));
    margin-top: 0.3rem;
    transition: transform ease-out 0.2s;
    pointer-events: all;
}

.date-range.two-lines {
    transform: translateY(calc(1*(25px + 2vw)));
}

.date-range-label {
    transition: opacity ease-out 0.2s;
}

.date-range-label.closed {
    opacity: 1;
}

.date-range-label.opened {
    opacity: 0;
}

.react-datepicker {
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.2s ease-in-out;
    width: auto;
    height: auto;
    position: absolute;
    background-color: #fff;
    max-height: 90vh;
    overflow: hidden;
    z-index: 9999;
    transform-origin: top left;
    pointer-events: all;
    z-index: 10000;
}

.fadeIn {
    animation: fadeIn 0.2s ease-in-out forwards;
}

.fadeOut {
    animation: fadeOut 0.2s ease-in-out forwards;
}

.react-datepicker__header {
    background-color: #f9f9f9;
    border-bottom: none;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}

.react-datepicker__month {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.react-datepicker__month-container {
    position: relative;
    display: block;
    visibility: visible;
}

.react-datepicker__day-name,
.react-datepicker__day {
    margin: 0.2rem;
    width: calc(2rem + 0.5vw);
    height: calc(2rem + 0.5vw);
    line-height: calc(2rem + 0.5vw);
    font-size: calc(0.8rem + 0.2vw);
    border-radius: 50%;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    cursor: pointer;
    text-align: center;
}

.react-datepicker__day:hover {
    background-color: #e9ecef;
    opacity: 0.9;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--selected:hover {
    background-color: #007bff;
    color: white;
    border-radius: 100%;
    font-weight: bold;
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--selected:hover {
    opacity: 1;
}

.react-datepicker__day-name {
    font-size: calc(0.8rem + 0.2vw);
    color: #6c757d;
    text-transform: uppercase;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}