.big-text-editor {
    font-size: calc(2vw + 1em);
    line-height: 1.2;
    cursor: pointer;
    z-index: 100;
}

.big-text-display {
    min-width: calc(60px + 5vw);
    max-width: 15ch;
    min-height: calc(1*(25px + 2vw));
    max-height: calc(2.4*(25px + 2vw));
    font: inherit;
    line-height: 1.2;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow: hidden;
    pointer-events: none;
}

.big-text-area {
    width: 15ch;
    font: inherit;
    line-height: 1.2;
    background-color: transparent;
    border: none;
    color: black;
    resize: none;
    outline: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: flex;
}